@model List<BOOKSTORE.DOMAIN.Model.Book>
<div class="table-wrapper table-responsive">


    <table id="example1" class="table table-bordered table-striped   datatable-extended dataTable no-footer">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Code</th>
                <th class="action-th-2"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td><a title="Edit" class="link-edit redirect-link" href="/@ViewBag.PageUrl/edit/@item.Id">@item.Name </a></td>

                    <td>@item.Code</td>
                    <td class="action-td">
                        <a  href="/@ViewBag.PageUrl/delete/@item.Id" data-name="@item.Name" title="Delete" class="link-delete btn btn-danger"><i class="fa fa-times"></i></a>
                        <a  href="/@ViewBag.PageUrl/edit/@item.Id" title="Edit" class="link-edit redirect-link btn btn-primary"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>

